
body {
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(199,216,237,1) 100%);
}

.application {
    display: flex;
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
    flex-direction: column; 
    border-bottom: solid;
    border-width: 2px;
}

.nav-links {
    display: flex;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}

.main-page {
    display: flex;
    flex-direction: column;
}

.create-drawing {
    
}

.dashboard {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.canvas {
    display: flex;
    margin-left: 10px;
}

.toolbar {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 10px
}


.myGallery {
    /* display: flex */
}


.app {
    /* display: flex;
    flex-direction: row-reverse */
}

.nav-links:hover {
    background-color: #9FB4C7;
}

#welcome {
    text-align: center
}

#username {
    background-color: #9FB4C7;
    font-style: italic; 

}

a {
    color: rgb(32, 62, 87);
    text-decoration: none;
}

a:visited {
    text-decoration: none
}

a:hover {
    font-weight: bold;
}