
body {
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(199,216,237,1) 100%);
}


.create-drawing {
    
}

.dashboard {
    display: flex;
    flex-direction: column;
    margin: 10px;
}




.slider-picker {
    width: 100%;
}

.myGallery {
    /* display: flex */
}


.app {
    /* display: flex;
    flex-direction: row-reverse */
}

.nav-links:hover {
    background-color: #9FB4C7;
}

#username {
    background-color: #9FB4C7;
    font-style: italic; 

}

a {
    color: rgb(32, 62, 87);
    text-decoration: none;
}

a:visited {
    text-decoration: none
}

a:hover {
    font-weight: bold;
}