.cell {
    background-color:blue; 
    width: 80px; 
    height: 80px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    width: 800px;
    height: 800px;
    border-style: solid;
    border-color: black
}